name: CI/CD Pipeline Blue-Green Automático

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout del código
      uses: actions/checkout@v3

    - name: Desplegar en DigitalOcean
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        port: 22
        script: |
          # 1. Ir a la carpeta correcta
          cd /home/blue-green
    
          # 2. Bajar cambios
          git pull origin main
          
          # 3. Dar permisos al nuevo script inteligente
          chmod +x scripts/auto_deploy.sh
          
          # 4. Ejecutar el script (él decide si construye Blue o Green)
          ./scripts/auto_deploy.sh